
.header {
    grid-area: header;
    background-color: #2f2f2f;
    padding-right: 4px;
    padding-left: 12px;
    height: 40px;
    width: 100%;
}
.style50 {
    width: 50%;
    margin-top: 16px;
    z-index: 1;
}
.style100 {
    width: 100%;
    margin-top: 12px;
}
.wrap_block {
    display: block
}
.wrap_flex {
    display: flex
}
.wrap_HS_show {
    width: 100%;
    visibility: visible;
    position: unset
}
.wrap_HS_hide {
    width: 100%;
    visibility: hidden;
    position: absolute
}