@media screen and (min-width:440px) {
    .table_cell_head_favo {
        display: inline-flex;
        vertical-align: bottom;
        width: 24px;
        padding-left: 22px;
        padding-bottom: 4px;
    }
    .table_cell_head_ez {
        display: inline-flex;
        width: 24px;
    }
    .table_cell_head_title {
        display: inline-flex;
        vertical-align: bottom;
        padding-bottom: 4px;
        text-align: left;
        width: calc(100% - 280px);
        margin-left: 48px;
        margin-right: 4px;
    }
    .table_cell_head_time {
        display: inline-flex;
        text-align: left;
        vertical-align: bottom;
        padding-left: 4px;
        padding-bottom: 4px;
        width: 80px;
    }
    .table_cell_head_count {
        display: inline-flex;
        text-align: left;
        vertical-align: bottom;
        padding-bottom: 4px;
        width:64px;
        padding-left: 4px;
    }
    .table_cell_head_del {
        display: inline-flex;
        vertical-align: bottom;
        /* text-align: center; */
        margin-right: 4px;
        padding-left: 16px;
        width: 64px;
    }

    .a{
        display: flex;
        width: 100%;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .b {
        width: 64px;
        margin-right: 4px;
        margin-left: 4px;
    }
    .c {
        width: 24px;
        padding-left: px;
        padding-top: 4px;
    }
    .d {
        text-align: left;
        width: calc(100% - 280px);
        margin-right: 4px;
        padding-top: 4px;
        overflow:hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .e {
        padding-left: 4px;
        padding-bottom: 4px;
        width: 80px;
    }
    .f {
        vertical-align: bottom;
        padding-bottom: 4px;
        width:64px;
        padding-left: 4px;
    }
    .g {
        vertical-align: bottom;
        text-align: center;
        width: 64px;
        margin-right: 4px;
    }
}
@media screen and (min-width:590px) {

    .table_cell_head_favo {
        display: inline-flex;
        vertical-align: bottom;
        width: 24px;
        padding-left: 22px;
        padding-bottom: 4px;
    }
    .table_cell_head_ez {
        display: inline-flex;
        width: 24px;
        margin-right: 4px;
    }
    .table_cell_head_title {
        display: inline-flex;
        vertical-align: bottom;
        padding-bottom: 4px;
        text-align: left;
        width: calc(100% - 400px);
        margin-left: 48px;
        margin-right: 4px;
    }
    .table_cell_head_time {
        display: inline-flex;
        text-align: left;
        vertical-align: bottom;
        padding-left: 4px;
        padding-bottom: 4px;
        width: 160px;
    }
    .table_cell_head_count {
        display: inline-flex;
        text-align: left;
        vertical-align: bottom;
        padding-bottom: 4px;
        width:100px;
        padding-left: 4px;
    }
    .table_cell_head_del {
        display: inline-flex;
        vertical-align: bottom;
        /* text-align: center; */
        margin-right: 4px;
        padding-left: 21px;
        width: 64px;
    }

    .a{
        display: flex;
        width: 100%;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .b {
        width: 64px;
        margin-right: 4px;
        margin-left: 4px;
    }
    .c {
        width: 24px;
        padding-left: 2px;
        padding-top: 4px;
        margin-right: 4px;
    }
    .d {
        text-align: left;
        width: calc(100% - 400px);
        margin-right: 4px;
        padding-top: 4px;
        overflow:hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .e {
        padding-left: 4px;
        padding-bottom: 4px;
        width: 160px;
    }
    .f {
        vertical-align: bottom;
        padding-bottom: 4px;
        width:100px;
        padding-left: 4px;
    }
    .g {
        vertical-align: bottom;
        text-align: center;
        width: 64px;
        margin-right: 4px;
    }

}
.table_cell_head_title:active,
.table_cell_head_title:active,
.table_cell_head_count:active,
.table_cell_head_date:active {
    background-color:  rgb(243, 243, 243);
}

.table_row{
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 36px;
}

.table_row_head{
    display: flex;
    width: 100%;
    /* height: 36px; */
    padding-top: 4px;
    /* padding-bottom: 8px; */
    border-bottom: 1px solid rgb(44, 44, 44);
}

.text_abridgement {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.a:nth-child(2n) {
    background-color:  rgb(243, 243, 243);
}

.a:hover{
    background-color: #d0dfff;
}




/* *********** */
/* 全体 */
/* *********** */
.wrap {
    width:100%;
    /* position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%); */
}
.table{
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top: 8px;
    overflow-y:auto;
    border-collapse:collapse;
    margin-bottom: 32px;
    /* トラック情報を取り込み後のマージンボトム */
    /* margin-left: 8px; これあると下部にx軸のスクロールバーが出る */
}
.icon_ace{
    margin-left: 4px;
    vertical-align: bottom;
    transform: scale(1, -1);
}
.icon_des{
    margin-left: 4px;
    vertical-align: bottom;
}




/* *********** */
/* DnD エリア */
/* *********** */

.dnd_tools_container {
    display: flex;
    justify-content:flex-end;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-right: 4px;
}
.dndbox {
    box-sizing  : border-box;           /* 罫線も含む長さ     */
    display     : block;
    width       : auto;                 /* BOXの幅            */
    min-height  : 80px;                 /* BOXの高さ          */
    padding-bottom: 8px;
    font-size   : 1em;                 /* 文字サイズ         */
    font-family : 'Roboto';
    text-align  : center;               /* 文字位置           */
    color       : #2f2f2f;              /* 文字色             */
    /* BOXの背景色        */
    background  : rgba(255, 255, 255, 0.93) ;
    /* background: #dfe6e9; */
    border      : 1px dashed rgb(192, 191, 191);   /* 枠線の指定（上）   */
    margin-bottom: 8px;
    margin-left: 20px;
    margin-right: 20px;
}
.open_icon {
    vertical-align: middle;
    text-align: center;
    margin-right: 4px;
}
.open_area {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    height: 36px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    letter-spacing: 0.02857em;
}
.open_area:hover {
    background-color: #F3F2F3;
}
.minimam_dnd_icon {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
}
.minimam_dnd_icon:hover {
    background-color: #F3F2F3;
}



